@import './Index.scss'; 

.dashboard-page {
    .avatar {
        margin-right: 10px;
        transform: scale(1);
        transition: transform 300ms;
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 25px;
        }
    }
    .name {
        font-weight: normal;
        transition: transform 300ms, font-weight 300ms;

    }
    .card {
        transition: background-color 300ms;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            color: white;
            .avatar {
                transform: scale(1.2);
            }
            .name {
                font-weight: bold;
                transform: translateX(15px);
            }
        }
    }
    
    
}


